<tr>
	<td><%= image_tag beer.image.url(:thumb) %></td>
	<td><%= link_to beer.name, beer_path(beer) %></td>	
	<td><%= beer.quantity %></td>	
	<td><%= link_to ' Edit', edit_beer_path(beer), class: 'glyphicon glyphicon-edit btn btn-sm btn-primary' %>
			<%= link_to ' Delete', beer_path(beer), method: :delete, data: {confirm: "Are you sure?"}, class: 'glyphicon glyphicon-trash btn btn-sm btn-danger' %></td>
</tr>