<tr>
	<td><center><%= link_to image_tag(country.flag, size: "25x25", alt: "Flag"), country_path(country) %></center></td>
	<td><%= link_to country.name, country_path(country) %></td>	
	<td><center><span class="badge"><%= country.beers.count %></span></center></td>
	<% if logged_in? %>
		<td><%= link_to ' Edit', edit_country_path(country), class: 'glyphicon glyphicon-edit btn btn-sm btn-primary' %>
			<%= link_to ' Delete', country_path(country), method: :delete, data: {confirm: "Are you sure?"}, class: 'glyphicon glyphicon-trash btn btn-sm btn-danger' %></td>
	<% end %>
</tr>